
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
  <div class="form-group">
    <input class="form-control" id="firstName" placeholder="First Name">
  </div>

  <div class="form-group">
    <input class="form-control" id="lastName" placeholder="First Name">
  </div>

  <div class="form-group">
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="confirmPass">Confirm Password</label>
    <input type="password" class="form-control" id="confirmPass" placeholder="Confirm Password">
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="termsOfUse">
    <label class="form-check-label" for="termsOfUse">I accept the Terms of Use & Privacy Policy.</label>
  </div>
  <button class="btn btn-primary" type="submit">Submit</button>
</form>

